---
const {data,options}=Astro.props
---
<div class="hover-window-for-navbar" id={`navbar-${data}-hoverwindow`}>
    {Object.keys(options).map(key=>
        <div class="hover-window-sub">
            <span class="hover-window-sub-key">{key}</span>
            {options[key].map(lol=><a class="hover-window-sub-vals" href={lol[1]}>{lol[0]}</a>)}
        </div>
    )}
</div>