<select name="location" id="location">
    <option value="bengaluru">Bengaluru</option>
    <option value="mumbai">Mumbai</option>
    <option value="delhi">Delhi</option>
</select>

<style>
    select {
        font-size: large;
        padding: 5px;
        border-radius: 5px;
        border: none;
        background-color: black;
        color: white;
    }
</style>