---
import OptLink from "./OptLink.astro"
import "./style.css"
---

<nav>
<h1>My Real Estate</h1>
<div id="navbar-opts">
    <OptLink data="buy" name="Buy">
        <ul>
            <li>Houses</li>
            <li>Flats</li>
            <li>Apartments</li>
            <li>Cars</li>
        </ul>
    </OptLink>
    <OptLink data="sell" name="Sell">
        <ul>
            <li>Houses</li>
            <li>Flats</li>
            <li>Apartments</li>
            <li>Cars</li>
        </ul>
    </OptLink>
    <OptLink data="rent" name="Rent">
        <ul>
            <li>Houses</li>
            <li>Flats</li>
            <li>Apartments</li>
        </ul>
    </OptLink>
</div>
<div>Bengaluru</div>
<div>Login</div>
</nav>
<style>
    h1 {
        font-family: cursive;
    }
    nav {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
        font-family: monospace;
        font-size: large;
    }
    #navbar-opts {
        display: flex;
        font-size: large;
    }
</style>
<script src="./script.js"></script>