---
import OptLink from "./OptLink.astro"
import "./style.css"
---

<nav>
<h1>My Real Estate</h1>
<div id="navbar-opts">
    <OptLink data="buy" name="Buy" options={{
        "Apartment":["3 BHK","4 BHK"],
        "Land":["100 Sq.ft","200 Sq.ft","500 Sq.ft","1000 Sq.ft"],
        "Car":["Petrol","Diesel","EV"],
    }}>
    </OptLink>
    <OptLink data="sell" name="Sell" options={{
        "Apartment":["3 BHK","4 BHK"],
        "Land":["100 Sq.ft","200 Sq.ft","500 Sq.ft","1000 Sq.ft"],
        "Car":["Petrol","Diesel","EV"],
    }}>
    </OptLink>
    <OptLink data="rent" name="Rent" options={{
        "Apartment":["3 BHK (no balcony)","3 BHK (with balcony)"],
    }}>
    </OptLink>
</div>
<div>Bengaluru</div>
<div>Login</div>
</nav>
<style>
    h1 {
        font-family: cursive;
    }
    nav {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
        font-family: monospace;
        font-size: large;
    }
    #navbar-opts {
        display: flex;
        font-size: large;
    }
</style>
<script src="./script.js"></script>