---
import HoverWindow from "./HoverWindow.astro"
const {data,name}=Astro.props
---

<div id={`navbar-${data}-parent`}>
    <div class="navbar-opt" id={`navbar-${data}`}>
    {name}
    </div>
<HoverWindow data={data}>
    <slot></slot>
</HoverWindow>
</div>