.navbar-opt {
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: color .5s;
    padding: 20px;

    &:hover {
        color: green;
    }
}
.hover-window-for-navbar {
    position: absolute;
    z-index: 1;
    color: black;
    background-color: white;
    transform: translateX(-50%);
    margin-left: 40px;
    max-width: 40dvw;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 2px black;
    display: none;
}